CityTourApp - Version 1.0/CityTourApp/SampleData/DataSource_links/DataSource_links.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.DataSource_links" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.DataSource_links" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataSource_links" type="tns:DataSource_links" />
  <xs:complexType name="DataSource_links">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="4,5" name="links" type="xs:string" />
  </xs:complexType>
</xs:schema>